h1
{

    color: black;
    font-stretch: 220;
    text-align: Center;
}

hr
{
    border-block-end-color: darkblue;
    width : 90% ;

}

img
{
    border-color: gray;
    width: 150px;
    height: 150px;
    margin-left: 45%;
    margin-right: 55%;
}

h2
{
    color:green;
    font-size : 40;
    text-align : center;
    font-style: Arial;
}
h4
{
    color: skyblue;
    font-size : 20;
    text-align: center;
    font-style: Arial;


}

h5
{
    color: blue;
    font-size: 90;
    text-align: center;
    font-style: Arial; 

}
body
{
    background : url(water.jpg);
    background-size: cover;
}

.head1
{
    text-align: center;
}


